<template>
  <v-row>
    <v-col class="col-10 offset-1 col-lg-6 offset-lg-3">
      <h3 class="green--text mt-5 text-center">Cadastro de Clientes</h3>
      <v-form v-model="valid" @submit.prevent="salvar()">
        <v-col cols="12" sm="12" md="12">
          <v-text-field
            type="text"
            v-model="dados.nome"
            :rules="rules.nome"
            outlined
            label="Nome"
            prepend-inner-icon="mdi-account-circle"
            required
          >
          </v-text-field>
        </v-col>

        <v-col cols="12" sm="12" md="12">
          <v-text-field
            type="tel"
            v-model="dados.telefone"
            :rules="rules.telefone"
            outlined
            label="Telefone"
            prepend-inner-icon="mdi-phone"
            required
          >
          </v-text-field>
        </v-col>

        <v-col cols="12" sm="12" md="12">
          <v-text-field
            type="email"
            v-model="dados.email"
            :rules="rules.email"
            outlined
            label="Email"
            prepend-inner-icon="mdi-email"
            required
          >
          </v-text-field>
        </v-col>

        <v-col cols="12" sm="12" md="12">
          <v-text-field
            type="text"
            v-model="dados.cep"
            :rules="rules.cep"
            outlined
            label="Cep"
            prepend-inner-icon="mdi-city"
            required
          >
          </v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="12" class="d-flex justify-end">
          <v-btn type="submit" tile color="success" :disabled="!valid">
            <v-icon left> mdi-send </v-icon>
            Salvar
          </v-btn>
        </v-col>
      </v-form>
    </v-col>
  </v-row>
</template>

<script>
import Swal from 'sweetalert2';
export default {
  name: "CadastroView",
  data: () => ({
    valid: false,
    dados: {
      nome: null,
      telefone: null,
      email: null,
      cep: null,
    },
    rules: {
      nome: [(value) => value != "" || "o campo nome é obrigátorio!."],
      telefone: [(value) => value != "" || "o campo telefone é obrigátorio!."],
      email: [
        (value) => !!value || "o campo email é obrigátorio!.",
        (value) => /.+@.+/.test(value) || "email inválido",
      ],
      cep: [(value) => value != "" || "o campo cep é obrigátorio!."],
    },
  }),
  methods: {
    salvar() {
      Swal.fire({
        title:"Sucesso",
        icon:"success",
        text:JSON.stringify(this.dados),
      })
    },
  },
};
</script>

<style></style>
