<template>
  <v-row>
    <v-col class="col-10 offset-1 col-lg-10 offset-lg-1">
      <h3 class="text-center orange--text mt-5">Clientes</h3>

      <v-simple-table
       dense
       fixed-header       
       height="50vh"
       >
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-center">Id</th>
              <th class="text-center">Data</th>
              <th class="text-center">Nome</th>
              <th class="text-center">Telefone</th>
              <th class="text-center">Email</th>
              <th class="text-center">Cep</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="cl in clientes" :key="cl.id" class="text-center">
              <td>{{ cl.id }}</td>
              <td>{{ cl.data }}</td>
              <td>{{ cl.nome }}</td>
              <td>{{ cl.telefone }}</td>
              <td>{{ cl.email }}</td>
              <td>{{ cl.cep }}</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>

    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "ClientesView",
  data:()=>({
        clientes: [
          {id:1,data:"07/03/2022",nome:"admin",telefone:"(21)00000-0000",email:"admin@gmail.com",cep:"00000-000"},
          {id:2,data:"07/03/2022",nome:"admin",telefone:"(21)00000-0000",email:"admin@gmail.com",cep:"00000-000"},
          {id:3,data:"07/03/2022",nome:"admin",telefone:"(21)00000-0000",email:"admin@gmail.com",cep:"00000-000"},
          {id:4,data:"07/03/2022",nome:"admin",telefone:"(21)00000-0000",email:"admin@gmail.com",cep:"00000-000"},
          {id:5,data:"07/03/2022",nome:"admin",telefone:"(21)00000-0000",email:"admin@gmail.com",cep:"00000-000"},
          {id:6,data:"07/03/2022",nome:"admin",telefone:"(21)00000-0000",email:"admin@gmail.com",cep:"00000-000"},
          {id:7,data:"07/03/2022",nome:"admin",telefone:"(21)00000-0000",email:"admin@gmail.com",cep:"00000-000"},
          {id:8,data:"07/03/2022",nome:"admin",telefone:"(21)00000-0000",email:"admin@gmail.com",cep:"00000-000"},
          {id:9,data:"07/03/2022",nome:"admin",telefone:"(21)00000-0000",email:"admin@gmail.com",cep:"00000-000"},
          {id:10,data:"07/03/2022",nome:"admin",telefone:"(21)00000-0000",email:"admin@gmail.com",cep:"00000-000"}
        ],
  })
};
</script>

<style scoped>
tr th{
  background-color: black !important;
  color: azure !important;
}

</style>

