<template>
<v-row>
  <v-col class="col-12">
    <h3 class="text-center pink--text mt-5">Home</h3>
  </v-col>
</v-row>  
</template>

<script>
  

  export default {
    name: 'HomeView',

    components: {
  
    },
  }
</script>
