<template>
  <div class="col-12">
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title class="text-h6 text-success">
          Sistema onload
        </v-list-item-title>
        <v-list-item-subtitle> subtext </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <v-divider></v-divider>

    <v-list dense nav>
      <v-list-item v-for="item in items" :key="item.title" link :to="item.link">
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
export default {
  name: "NavLinks",
  data: () => ({
    items: [
      { title: "Home", icon: "mdi-home", link: "/" },
      { title: "Cadastro", icon: "mdi-pencil", link: "/cadastro" },
      { title: "Clientes", icon: "mdi-account-group", link: "/clientes" },
      { title: "Sobre", icon: "mdi-information", link: "/sobre" },
    ],
  }),
};
</script>

<style></style>
