<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app>
      <nav-links />
    </v-navigation-drawer>
    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Onload</v-toolbar-title>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import NavLinks from "./components/NavLinks.vue";
export default {
  data: () => ({
    drawer: null,
  }),
  components: {
    NavLinks,
  },
};
</script>
